
    
    <div class="top-line">
        <div class="container">
        <div class="inside-top-line">
            
                <div class="text">
                <div class="inside-text">
                    <h1>2% GYVENTOJŲ PAJAMŲ MOKESČIO PARAMA</h1>
                </div>
            </div>
            </div>
        </div>
    </div>
<div class="container">
    <!-- <div class="row first-row">
        <div class="col-md-6">
            <div class="near-image">
<h2 *ngIf="content.title21.length > 0">{{content.title21}}</h2>
            <p class="texts-near-image" *ngIf="content.description21.length > 0">{{content.description21}} </p>
            <p *ngIf="content.description22.length > 0">{{content.description22}} </p>
            <p *ngIf="content.description23.length > 0">{{content.description23}} </p>
            </div>
            
        </div>
        <div class="col-md-6">
            <img class="img" *ngIf="content.image1.length > 0" src="{{content.image1}}" alt="{{content.imageAlt1}}">
        </div>
    </div>
    <div class="row qoute-row">
        <div class="malinua" *ngIf="content.qoute1.length > 0" >
            <div class="qoute">
                <p class="qoute-text">{{content.qoute1}}</p>
            </div>
        </div>
    </div> -->

        <div class="row">
            <h2 class="section-title">Kaip galima skirti  paramą:</h2>
            <span class="parama-line">1.Prisijunkite prie VMĮ 
             elektroninio deklaravimo sistemos<a style="cursor:pointer; font-weight: 600;" class="link" (click)="linkTo('https://deklaravimas.vmi.lt/')"> čia https//deklaravimas.vmi.lt/</a>  </span>
            <span class="parama-line">2.Pasirinkite, per kokią išorinę sistemą prisijungsite.</span>
            <span class="parama-line">3.Elektroninio deklaravimo sistemos skiltyje <p class="heavy-text">,,Deklaravimas"</p>  pasirinkite <p class="heavy-text">,,Pradėti naują"</p>.</span>
            <span class="parama-line">4.Užpildykite formą <p class="heavy-text">FRO512 </p>.</span>
            <span class="parama-line"> 5.Į formos laukelį <p class="heavy-text">E2</p>, kur reikia nurodyt identifikacinį paramos gavėjo numerį, įrašykite
             <p class="heavy-text">304296382 (VŠĮ Laukinė orchidėja)</p>.</span>
            <span class="parama-line">6.Laukelyje E4, kur nurodomas skiriamos paramos dydis procentais, galite įrašyti norimą skaičių, 
                standartiškai 2 procentus. Viską užpildžius, spauskite mygtuką <p class="heavy-text">,,Užbaigti pildymą"</p>. </span>
            <span class="parama-line" style="margin-top: 40px;">Apie tai ar prašymas priimtas, ar atmestas (jei buvo klaidų), Jūs būsite 
                informuoti. Daugiau informacijos, kaip pildyti formą rasite <a style="cursor:pointer; font-weight: 600;" class="link" (click)="linkTo('https://www.e-tar.lt/portal/lt/legalAct/TAR.25DDC77CDB18')">LRS puslapyje</a>.</span>
        </div>
</div> 

<app-footer class="footer" #target></app-footer>