<div class="top-line">
  <div class="container">
  <div class="inside-top-line">
      
          <div class="text">
          <div class="inside-text">
              <h1>RENGINIAI</h1>
          </div>
      </div>
      </div>
  </div>
</div>

<section class="container top">
    <div class="row justify-content-center mb-5 pb-3">
        
      </div>

              <div class="container">
                  <div class="card-container "> 
                    
                      <div class="card-columns">
                  <app-card
                  [card]="card" 
                   *ngFor="let card of allcontent"
                   (cardSelected)= "onCardSelected($event)"
                   >
                  </app-card>
                  </div>
                </div>
              </div>
              
</section>
<app-footer class="footer" #target></app-footer>