.title-renginiai{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.3em;
    margin-top: 50px;
    margin-bottom: 50px;
}

.validation-form{
    display: block;
    margin-bottom: 20px;
  }

  .validation-numbers{
    display: inline;
  }

  .validate{
    width: 50px;
    display: inline;
  }

  .btn-uzklausa{
    background-color: #576574;
    border-color: #576574;
    color: white!important;
  }