.row-buttons{
    position:relative;
    padding-bottom:20px;
    min-height: 60px;
.first{
        position:absolute;
        top:0;
        left:0;

    }
.second{
        position: absolute;
        top: 0;
        right:0;
  
    }
}

.text1{
  margin-bottom:100px;
}

.text2{
  margin-top: 60px
}

.projected{
  display:none;
}

hr{
  max-width:700px;
  text-align: left;
}

.disqus{
  margin-top: 60px;
  margin-bottom: 100px;
}

.bg-light{
  margin-top:100px;
  padding-top: 60px;
}


::ng-deep #current-image {
  max-height: 100%!important;
  height: 100%!important;
  cursor: pointer;
}



  .row-buttons{
      min-height: 60px;
  }

  .dropdown-divider{
    margin: 5px 0;
    border-top: 0px; 
    width: 140px;
    background-color:#FF8A47;
}

 ul {
    list-style: circle;
    padding: 0 1.4em;
    margin-bottom: .6em;
    text-align: left;
    margin: 0 20px 35px;
    
}
li{
    font-size: 1.3em;
    line-height: 1.65em;
    margin-bottom: 3px;
    color: #8a8a8a;
}

.btn-daugiau-info{
  border-color:#576574;
  color: #576574;
  background: transparent;
  border-radius: 0px;
  text-align: center;
}
.btn-daugiau-info:hover{
  border-color:#576574;
  color: white;
  background:#576574;
}

.top-line{

  margin-bottom: 0px;
}

.line{
  margin-top: 60px;
}

.img{
  width: 100%;
  max-width: 150px;
}

.full-width{
  width: 100%;
}
.max-width-1024 { 
  padding-top: 50px;
  max-width: 1024px; 
  margin: 0 auto; 
}

@media only screen and (max-width: 1400px) and (min-width: 1200px){

}
@media (max-width: 1200px) and (min-width: 991px){
  .col-md-7 {
    max-width: 100%!important;
  }
}
@media only screen and (max-width: 992px) and (min-width: 769px){
        h1{
            font-size:4rem;
        }
        .col-md-7 {
          max-width: 100%!important;
        }
}
@media only screen and (max-width: 769px) and (min-width: 576px){
        h1{
            font-size:4rem;
        }
        .col-md-7 {
          max-width: 100%!important;
        }
}

@media (max-width: 576px) and (min-width: 414px){
      h1{
          font-size:3rem;
          line-height: 3rem;
      }
  .small{
      padding: 0px 40px;
  }
  p{
      font-size: 12px;
  }
}
@media only screen and (max-width: 414px) {
      h1{
          font-size:2rem;
          line-height: 3rem;
  }
p{
    font-size: 10px;
}

}
